
<div class="row">
  <div class="col-lg">
    <div *ngFor="let card of playedCards"> {{ Card[card.name] }}</div>
  </div>
</div>
<div class="row">
  <div class="col-sm">
    Discard
    {{ discardPile.length }}
  </div>
  <div class="col-sm">
    Deck
    {{ deck.length }}
  </div>
  <div class="col-sm">

    <div *ngFor="let card of hand">
      <button (click)="play(card)">{{ Card[card] }}</button>
      </div>
  </div>
  <div class="col-sm">
    <div *ngIf="playStatus == PlayStatus.WaitForTurn">
      Wait for you turn...
    </div>
    <div *ngIf="playStatus == PlayStatus.Responder">
      Respond to attack with a reaction card or take the attack effect.
      <button (click)="takeAttackEffect()">Take Attack Effect</button>
      <button (click)="playMoat()">Play a moat</button>
    </div>
    <div *ngIf="playStatus == PlayStatus.Attacker">
      Wait for your opponents to respond to your attack.
    </div>
    <div *ngIf="playStatus == PlayStatus.ActionPhase">
      {{numberOfActions}} ACTIONS | {{numberOfBuys}} BUYS | ${{ moneyPlayed }}
      You may play action cards.
      <button (click)="endActionPhase()">End Action Phase</button>
    </div>
    <div *ngIf="playStatus == PlayStatus.ActionRequestResponder">
      {{ actionRequest.message }}
      <div *ngIf="actionRequest.actionRequestType == ActionRequestType.YesNo">
        <button (click)="submitAction(true)">Yes</button>
        <button (click)="submitAction(false)">No</button>
      </div>
      <div *ngIf="actionRequest.actionRequestType == ActionRequestType.SelectMultipleCards">
        <button>Button</button>
      </div>
    </div>
    <div *ngIf="playStatus == PlayStatus.BuyPhase">
      {{numberOfActions}} ACTIONS | {{numberOfBuys}} BUYS | ${{ moneyPlayed }}
      You may buy cards.
      <button (click)="playAllTreasure()">Play All Treasures</button>
      <button (click)="endTurn()">End Turn</button>
    </div>
  </div>
  <div class="col-sm">
    <div class="form-group">
      <textarea [(ngModel)]="logText" style="font-size: small;" class="form-control" rows="5" id="comment"></textarea>
    </div>
  </div>
</div>
