<d-play-area [playedCards]="playedCards"></d-play-area>
<div class="row player-component">
  <div class="col-sm-1">
    Discard
    {{ discardPile.length }}
  </div>
  <div class="col-sm-1">
    Deck
    {{ deck.length }}
  </div>
  <div class="col-sm">
    <d-hand-viewer [hand]="hand"></d-hand-viewer>
  </div>
  <div class="col-sm-3">
    <div *ngIf="playStatus == PlayStatus.GameEnd">
      The game is over. You have {{ victoryPoints }} Victory Points.
    </div>
    <div *ngIf="playStatus == PlayStatus.WaitForTurn">
      Wait for you turn...
    </div>
    <div *ngIf="playStatus == PlayStatus.AttackResponder">
      Respond to attack with a reaction card or take the attack effect.
    </div>
    <div *ngIf="playStatus == PlayStatus.Attacker">
      Wait for your opponents to respond to your attack.
    </div>
    <div *ngIf="playStatus == PlayStatus.ActionPhase">
      {{numberOfActions}} ACTIONS | {{numberOfBuys}} BUYS | ${{ moneyPlayed }}
      You may play action cards.
      <button (click)="endActionPhase()">End Action Phase</button>
    </div>
    <div *ngIf="playStatus == PlayStatus.ActionRequestResponder">
      {{ actionRequest.message }}
      <div *ngIf="actionRequest.actionRequestType == ActionRequestType.YesNo">
        <button (click)="submitAction(true)">Yes</button>
        <button (click)="submitAction(false)">No</button>
      </div>
      <div *ngIf="actionRequest.actionRequestType == ActionRequestType.SelectMultipleCards">
        <p-multiSelect [options]="selectCards"
            [(ngModel)]="selectedCards"
            [showHeader]="false"></p-multiSelect>
        <button (click)="submitMultiSelect()">Submit</button>

      </div>
    </div>
    <div *ngIf="playStatus == PlayStatus.BuyPhase">
      {{numberOfActions}} ACTIONS | {{numberOfBuys}} BUYS | ${{ moneyPlayed }}
      You may buy cards.
      <button (click)="playAllTreasure()">Play All Treasures</button>
      <button (click)="endTurn()">End Turn</button>
    </div>
  </div>
  <div class="col-sm-2">
    <div class="form-group">
      <textarea [(ngModel)]="logText" style="font-size: small;" class="form-control" rows="5" id="comment"></textarea>
    </div>
  </div>
</div>
