<d-play-area [playedCards]="playedCards"></d-play-area>
<div class="row player-component">
  <div class="col-sm-2">
    <div>
      Deck {{ deck.length }}
      Discard: {{ discardPile.length }}
    </div>
    <div *ngIf="victoryTokens > 0">
      Victory Tokens: {{ victoryTokens }}
    </div>
    <div *ngIf="coffers > 0">
      Coffers: {{ coffers }}
    </div>
    <div *ngIf="villagers > 0">
      Villagers: {{ villagers }}
    </div>
    <div *ngIf="artifacts.length > 0">
      Artifacts: {{ displayArtifacts }}
    </div>
    <div *ngIf="journeyTokenIsFaceUp">
      JourneyToken: Face Up
    </div>
    <div *ngIf="!journeyTokenIsFaceUp">
      JourneyToken: Face Down
    </div>

  </div>
  <div class="col-sm">
    <d-hand-viewer [hand]="hand"></d-hand-viewer>
  </div>
  <div class="col-sm-3">
    <div *ngIf="playStatus == PlayStatus.GameEnd">
      The game is over. You have {{ victoryPoints }} Victory Points.
    </div>
    <div *ngIf="playStatus == PlayStatus.WaitForTurn">
      Wait for you turn...
    </div>
    <div *ngIf="playStatus == PlayStatus.AttackResponder">
      Respond to attack with a reaction card or take the attack effect.
    </div>
    <div *ngIf="playStatus == PlayStatus.Attacker">
      Wait for your opponents to respond to your attack.
    </div>
    <div *ngIf="playStatus == PlayStatus.ActionPhase">
      {{numberOfActions}} ACTIONS | {{numberOfBuys}} BUYS | ${{ moneyPlayed }}
      You may play action cards.
      <div *ngIf="villagers > 0">
        <button (click)="playVillager()">Play Villager</button>
      </div>
      <button (click)="endActionPhase()">End Action Phase</button>
    </div>
    <div *ngIf="playStatus == PlayStatus.ActionRequestResponder">
      {{ actionRequest.message }}
      <div *ngIf="actionRequest.actionRequestType == ActionRequestType.YesNo">
        <button (click)="submitAction(true)">Yes</button>
        <button (click)="submitAction(false)">No</button>
      </div>
      <div *ngIf="actionRequest.actionRequestType == ActionRequestType.SelectMultipleCards">
        <p-multiSelect [options]="selectCards"
            [(ngModel)]="selectedCards"
            [showHeader]="false"></p-multiSelect>
        <button (click)="submitMultiSelect()">Submit</button>
      </div>
      <div *ngIf="actionRequest.actionRequestType == ActionRequestType.SelectOptions">
        <p-multiSelect [options]="selectOptions"
                       [(ngModel)]="selectedOptions"
                       [showHeader]="false"></p-multiSelect>
        <button (click)="submitSelectOptions()">Submit</button>
      </div>
      <div *ngIf="actionRequest.actionRequestType == ActionRequestType.OrganizeCards">
        <button (click)="openCardOrganizer()">Organize Cards</button>
      </div>
    </div>
    <div *ngIf="playStatus == PlayStatus.BuyPhase">
      {{numberOfActions}} ACTIONS | {{numberOfBuys}} BUYS | ${{ moneyPlayed }}
      You may buy cards.
      <button (click)="playAllTreasure()">Play All Treasures</button>
      <div *ngIf="coffers > 0">
        <button (click)="playCoffer()">Play Coffer</button>
        <button (click)="playAllCoffers()">Play All Coffers</button>
      </div>
      <button (click)="endTurn()">End Turn</button>
    </div>
  </div>
</div>
