/* You can add global styles to this file, and also import other style files */
.container {
  max-width: 100%
}

.mini-card-template {
  position: relative;
}

.card-counter {
  position: absolute;
  top: 0;
  color: white;
  background-color: black;
  border-bottom-right-radius: 4px;
  user-select: none;
}

.supplyPile {
  height: 50px;
  width: 75px;
}

.kingdomCard {
  height: 125px;
  width: 90px;
}

.treasure-supply-pile {
  max-height: 78px;
  max-width: 94px;
}

body {
  background-color: #b38585;
}

.player2 {
  height: 50px;
}

.cardDetail {
  max-height:478px;
  max-width:298px;
}

/*TODO: make background invisible*/
/*.cardDetailDialogBox {*/
  /*background-color: transparent;*/
  /*border: none;*/
/*}*/

/*::ng-deep body .ui-dialog .ui-dialog-content {*/
  /*background-color: transparent;*/
  /*border: none;*/
/*}*/

