<div class="row">
  <div class="col">
    <div *ngFor="let pile of treasureSupply">
      <div class="mini-card-template">
        <img class="treasure-supply-pile" (click)="buy(pile)" [src]="cardService.getSmallImgLoc(pile.cards[0])" alt="treasure">
        <div class="card-counter">{{pile.cards.length}} </div>
      </div>
    </div>
  </div>
  <div class="col">
    <div *ngFor="let pile of victorySupply">
      <button class="supplyPile" (click)="buy(pile)">{{ Card[pile.cards[pile.cards.length - 1]] }} ({{ pile.cards.length }})</button>
    </div>
    <div *ngIf="includeRuins == true">
      <button class="supplyPile" (click)="buy(ruinsPile)">{{ Card[ruinsPile.cards[ruinsPile.cards.length - 1]] }} ({{ ruinsPile.cards.length }})</button>
    </div>

  </div>
  <div class="col-sm-1">

  </div>
  <div class="col-sm-8">
    <div class="row">
      <div class="col-sm-2" *ngFor="let pile of kingdomSupply">
        <div class="mini-card-template">
          <img oncontextmenu="return false;" (click)="buy(pile)" (contextmenu)="rightClick(pile)" class="kingdomCard" [src]="cardService.getImgLoc(pile.cards[pile.cards.length - 1])" alt="image">
          <div class="card-counter">{{pile.cards.length}}</div>
        </div>
      </div>
    </div>
    <!--373x598-->
    <p-dialog class="cardDetailDialogBox" [showHeader]="false" [modal]="true" [dismissableMask]="true" [(visible)]="showCardDetail">
      <img class="cardDetail" [src]="cardDetailLoc">
    </p-dialog>
  </div>
</div>
